*{
    margin: 0;
    padding: 0;
}

.cointainer {
    max-width: 1200px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.list-parent ul li {
    list-style: none;
}

.list1 {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.common-btn {
    background-color: #1D4ED8;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
}

.hero-parent {
    height: 600px;
    width: auto;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("./assets/banner.jpg");

}

.hero {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 100px;
    
}

.hero h2 {
    font-size: 56px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 12px;
}

.hero p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 70px;
    padding-bottom: 100px;
    max-width: 700px;
    margin: 20px auto;
}

.speakers-parent{
    margin: 30px auto;
    text-align: center;
    padding: 40px;
}
h1 {
    font-weight: bold;
    font-family: "inter", sans-serif;
    font-size: 40px ;
    margin-bottom: 20px;
}
.speakers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}


.pic img{
    width: 500px;
    margin-bottom: 10px;
}
.pic {
    text-align: left;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.rank{
    color: #2563EB;
    font-size: 12px;
    font-weight: normal;
}
.pic h3{
    font-family: "inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6px;
}
.pic p{
    font-size: 15px;
    margin-top: 6PX;
}

.prize-parent{
    margin: 60px auto;
    padding: 40px;
}
.prize{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 50px auto;
    padding: 40px;
}
 
.prize-parent h1{
text-align: center;
font-family: "inter", sans-serif;
font-weight: bold;
font-size: 35px;
margin-bottom: 7px;
}
.prize-parent p{
text-align: center;
font-size: 13px;
}
.prize-card{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.146);
    border-radius: 10px;
    padding: 30px;
    margin: 10px 10px;
}
.prize-card p{
    text-align: left;
    margin-bottom: 20px;
}
.prize-card ul li{
    padding: 5px;
}
.started,
.pro,
.contact-us{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-family: "inter",sans-serif;
    font-size: 15px ;
    cursor: pointer;
}
.pro{
    background-color: #2563EB;
    color: white;
}


.pro:hover{
   background-color: rgb(80, 237, 248);
    color: white;
}

.contact-us{
    border: 1px solid black;
    
}

.contact-us:hover{
   background-color: rgb(80, 237, 248);
    color: white;
}

.started:hover{
   background-color: rgb(80, 237, 248);
    color: white;
}
.started{
    color: #2563EB;
    border: 1px solid #2563EB;
}
.pro-card{
    background-color: #0D1B2A;
    color: rgba(255, 255, 255, 0.744);
}

.prize-card h2{
    font-size: 35px;
    font-family: "inter",sans-serif;
    font-weight: bold;
}

.prize-card h5{
    font-size: 10px;
    font-weight: normal;
}
.prize-card li::marker{
    color: #2563EB;
}

footer{
    background-color: #0D1B2A;
    color: rgba(255, 255, 255, 0.47);
    width: 100%;
}

.footer-parent {
    padding-top: 30px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 70px;
}


.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer-list li{
    list-style: none;
}


.copyright{
    text-align: center;
    padding-bottom: 20px;
}